# learning Python

In [1]:
1+1

2

In [2]:
print(1+1)

2

In [3]:
1.0+1

2.0

In [4]:
1/2.0

0.5

In [5]:
2*2

4

In [8]:
2*2

4

In [9]:
4**4

256

In [11]:
4%2 #shares reminder

0

In [20]:
5 % 6

5

In [21]:
num = 12
name = 'Sam'

In [22]:
'My number is {} and my name is {}'.format(num,name)

'My number is 12 and my name is Sam'

In [23]:
'My number is {one} and my name is {two}, {one}'.format(one = num,two =name)

'My number is 12 and my name is Sam, 12'

In [25]:
name[:2]

'Sa'

In [26]:
name[1:]

'am'

In [27]:
[1,2,3]

[1, 2, 3]

In [28]:
my_list = ['a', 'b', 'c']

In [29]:
my_list.append('d')

In [35]:
my_list

['a', 'b', 'c', 'd', 'e']

In [34]:
my_list.insert(4,'e')

In [37]:
my_list[0] = 'New'

In [38]:
my_list

['New', 'b', 'c', 'd', 'e']

In [39]:
my_list[0] = my_list

In [40]:
my_list

[[...], 'b', 'c', 'd', 'e']

In [41]:
#Dictionaries

In [42]:
d = {'key1': 'value', 'key2': 123}

In [45]:
d['key2']

123

In [47]:
d = {'k1': [1,2,3]}

In [50]:
d['k1']

[1, 2, 3]

In [51]:
d['k1'][2]

3

In [55]:
if (3<2):
    print(' one is less than  two')
elif (3==3):
    print('second option')
else:
    print('last')

second option

In [56]:
seq = [1,2,3,4,5]

In [57]:
for item in seq:
    print(item)

1
2
3
4
5

In [70]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [76]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
x = [1,2,3,4]
out = []

for num in x:
    out.append(num**2)
    
print(out)

[1, 4, 9, 16]

In [87]:
def my_func(param1='Default Name'):
    print('hello ' + param1)

In [89]:
my_func('Akbar')

hello Akbar

In [98]:
def sqr(num):
    """
    This function expects the number and squares the number
    """
    return num**num

In [100]:
my_output = sqr(5)
my_output

3125

In [103]:
list(range(5,25))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [104]:
seq= [1,2,3,4,5]

In [108]:
def times2(var):
    return var*2

In [110]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [111]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [114]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

In [115]:
my_name = 'My name is Akbar'

In [128]:
my_name.split('i')

['My name ', 's Akbar']

In [129]:
chk_tweet = 'Go Sports! #Sports'

In [130]:
chk_tweet.split('#')

['Go Sports! ', 'Sports']

In [131]:
chk_tweet.split('#')[1]

'Sports'

In [132]:
'x' in [1,2,3]

False

In [133]:
'x' in ['x', 'y','z']

True